<div class="tw-container tw-mx-auto tw-px-3 md:tw-px-24 md:tw-py-5 tw-bg-bghome">
    <div class="tw-text-center tw-my-3 md:tw-text-left md:tw-my-5">
        <h3 class="tw-leading-10 tw-text-sm md:tw-text-xl">Contact</h3>
    </div>
    <div class="tw-flex tw-flex-col tw-gap-5 md:tw-flex-row tw-justify-center">
        <div class="tw-w-4xl">
            <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
                <nz-form-item>
                  <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="email">Your email </nz-form-label>
                  <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="The input is not valid E-mail!">
                    <input nz-input formControlName="email" id="email" class="form__contact-input"/>
                  </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                  <nz-form-label
                    [nzSm]="6"
                    [nzXs]="24"
                    nzFor="nickname"
                    nzRequired
                    nzTooltipTitle="What do you want other to call you"
                  >
                    <span>Your name</span>
                  </nz-form-label>
                  <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please input your nickname!">
                    <input nz-input id="nickname" formControlName="nickname"  class="form__contact-input"/>
                  </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                    <nz-form-label
                      [nzSm]="6"
                      [nzXs]="24"
                      nzFor="subject"
                      nzRequired
                      nzTooltipTitle="subject"
                    >
                      <span>Subject</span>
                    </nz-form-label>
                    <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="I want ...!">
                      <input nz-input id="subject" formControlName="subject" class="form__contact-input" />
                    </nz-form-control>
                  </nz-form-item>

                <nz-form-item nz-row class="register-area">
                  <nz-form-control [nzSpan]="14">
                    <button nz-button nzType="primary" class="
                                                        tw-bg-red-500 
                                                        tw-font-semibold 
                                                        tw-p-1
                                                        tw-text-sm
                                                        tw-border 
                                                        tw-border-white 
                                                        hover:tw-border-transparent
                                                        tw-rounded
                                                        tw-text-white
                                                        tw-button
                                                        ">Send</button>
                  </nz-form-control>
                </nz-form-item>
              </form>
        </div>
        <div class="tw-flex tw-flex-row tw-justify-center tw-gap-5 tw-py-5 
              md:tw-flex-col md:tw-items-start md:tw-space-y-3 md:tw-justify-start">
           <a href="https://www.facebook.com/nguyennhatanh1999/" class="tw-flex md:tw-flex-row md:tw-items-center 
           md:tw-space-x-5">
            <a><img class="tw-w-7"  src="https://th.bing.com/th/id/OIP.55DCXbXlKDgEBoZhKxpzLAHaHa?pid=ImgDet&rs=1" alt=""></a>
            <span class="tw-font-heebo tw-font-semibold tw-text-lg">facebook</span>
           </a>
           <a href="https://zalo.me/0971145489" class="tw-flex md:tw-flex-row md:tw-items-center md:tw-space-x-5">
            <a><img class="tw-w-7" src="https://cdn.freebiesupply.com/logos/large/2x/zalo-1-logo-png-transparent.png" alt=""></a>
            <span class="tw-font-heebo tw-font-semibold tw-text-lg">zalo</span>
           </a>
           <a href="https://github.com/nnanh19" class="tw-flex md:tw-flex-row md:tw-items-center md:tw-space-x-5">
            <a><img class="tw-w-7" src="https://pngimg.com/uploads/github/github_PNG40.png" alt=""></a>
            <span class="tw-font-heebo tw-font-semibold tw-text-lg">github</span>
           </a>
   
        </div>
    </div>
</div>