[nz-form] {
    min-width: 600px;
}
input, textarea{
    min-width: 590px;
    border: 1px solid black !important;
}
a.ant-btn.ng-star-inserted{
    min-width: 590px;
    border: 1px solid black !important;
    margin-left: 0px !important;
}