<div class="container mx-auto px-3 md:px-24">
    <div class="text-left my-3 md:my-5">
        <h3 class="leading-10 text-sm font-bold md:text-xl">Works</h3>
    </div>
    <div class="flex flex-col">
        <div class="flex flex-col md:flex-row md:gap-5">
            <div class="">
                <a href=""><img class="w-full rounded-lg" src="https://th.bing.com/th/id/R.18a22bd05d7f65941eb710452bb843e2?rik=pZ8Vc16Vp0dDnw&riu=http%3a%2f%2fdanangsuntravel.com%2fdata%2ftour%2f500%2fmua-hoa-anh-dao-1577072105.jpg&ehk=ZVGRMY4evmS7G%2fUz9J5PyJ6cY9Nw3xkcbSy4lfCRQAg%3d&risl=&pid=ImgRaw&r=0" alt=""></a>
            </div>
            <div class="flex flex-col gap-1  md:gap-3">
                <a href=""><h3 class="font-bold text-xl md:text-2xl md:font-sans"> Real-time chat application </h3></a>
                <div class="flex flex-row gap-5">
                    <span class="bg-gray-800 rounded-full px-3 md:px-5 text-white">2022</span>
                    <span class="text-gray-400">API</span>
                </div>
                <p>Website created targeted for people to be able to message directly, Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio adipisci ad et, consequatur accusamus, dolorum doloremque recusandae cupiditate beatae eius expedita voluptas fugiat provident laudantium quisquam facere nisi fuga dolorem?</p>
            </div>
        </div>
        <hr class="my-5">
    
        <div class="flex flex-col md:flex-row md:gap-5">
            <div class="">
                <a href=""><img class="w-full rounded-lg" src="https://th.bing.com/th/id/R.18a22bd05d7f65941eb710452bb843e2?rik=pZ8Vc16Vp0dDnw&riu=http%3a%2f%2fdanangsuntravel.com%2fdata%2ftour%2f500%2fmua-hoa-anh-dao-1577072105.jpg&ehk=ZVGRMY4evmS7G%2fUz9J5PyJ6cY9Nw3xkcbSy4lfCRQAg%3d&risl=&pid=ImgRaw&r=0" alt=""></a>
            </div>
            <div class="flex flex-col gap-1  md:gap-3">
                <h3 class="font-bold text-xl md:text-2xl md:font-sans"> Real-time chat application </h3>
                <div class="flex flex-row gap-5">
                <span class="bg-gray-800 rounded-full px-3 md:px-5 text-white">2022</span>
                <span class="text-gray-400">API</span>
                </div>
                <p>Website created targeted for people to be able to message directly, Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio adipisci ad et, consequatur accusamus, dolorum doloremque recusandae cupiditate beatae eius expedita voluptas fugiat provident laudantium quisquam facere nisi fuga dolorem?</p>
            </div>
        </div>
        <hr class="my-5">
        <div class="flex flex-col md:flex-row md:gap-5">
            <div class="">
                <a href="/work/1"><img class="w-full rounded-lg" src="https://th.bing.com/th/id/R.18a22bd05d7f65941eb710452bb843e2?rik=pZ8Vc16Vp0dDnw&riu=http%3a%2f%2fdanangsuntravel.com%2fdata%2ftour%2f500%2fmua-hoa-anh-dao-1577072105.jpg&ehk=ZVGRMY4evmS7G%2fUz9J5PyJ6cY9Nw3xkcbSy4lfCRQAg%3d&risl=&pid=ImgRaw&r=0" alt=""></a>
            </div>
            <div class="flex flex-col gap-1  md:gap-3">
                <h3 class="font-bold text-xl md:text-2xl md:font-sans"> Real-time chat application </h3>
                <div class="flex flex-row gap-5">
                <span class="bg-gray-800 rounded-full px-3 md:px-5 text-white">2022</span>
                <span class="text-gray-400">API</span>
                </div>
                <p class="text-sm">Website created targeted for people to be able to message directly, Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio adipisci ad et, consequatur accusamus, dolorum doloremque recusandae cupiditate beatae eius expedita voluptas fugiat provident laudantium quisquam facere nisi fuga dolorem?</p>
            </div>
        </div>
        <hr class="my-5">
        
    </div>
    </div>