<div class="container mx-auto px-3 md:px-24">
    <div class="flex flex-col py-5">
        <div class="flex flex-col-reverse ">
            <div class="py-5">
                <a href=""><img class="w-full rounded-lg" src="https://th.bing.com/th/id/R.18a22bd05d7f65941eb710452bb843e2?rik=pZ8Vc16Vp0dDnw&riu=http%3a%2f%2fdanangsuntravel.com%2fdata%2ftour%2f500%2fmua-hoa-anh-dao-1577072105.jpg&ehk=ZVGRMY4evmS7G%2fUz9J5PyJ6cY9Nw3xkcbSy4lfCRQAg%3d&risl=&pid=ImgRaw&r=0" alt=""></a>
            </div>
            <div class="flex flex-col gap-1  md:gap-3">
                <a href=""><h3 class="font-bold text-xl md:text-2xl md:font-sans"> Real-time chat application </h3></a>
                <div class="flex flex-row gap-5 py-5">
                    <span class="bg-red-500 rounded-full px-3 md:px-5 text-white">2022</span>
                    <span class="text-gray-400">API</span>
                </div>
                <p>Website created targeted for people to be able to message directly, Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio adipisci ad et, consequatur accusamus, dolorum doloremque recusandae cupiditate beatae eius expedita voluptas fugiat provident laudantium quisquam facere nisi fuga dolorem?</p>
            </div>
        </div>
    </div>
    <div>
        <h1 class="font-semibold text-2xl py-5">
            Trang sản phẩm
        </h1>
        <div>
            <h2 class="font-semibold text-xl">Chức năng</h2>
            <p class="py-5">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ex ducimus blanditiis nisi expedita sint corporis rerum similique aperiam aliquam laudantium! Aliquam, ratione culpa in vero vel pariatur voluptates necessitatibus quas.</p>
            <img class="w-full pb-5" src="https://th.bing.com/th/id/R.18a22bd05d7f65941eb710452bb843e2?rik=pZ8Vc16Vp0dDnw&riu=http%3a%2f%2fdanangsuntravel.com%2fdata%2ftour%2f500%2fmua-hoa-anh-dao-1577072105.jpg&ehk=ZVGRMY4evmS7G%2fUz9J5PyJ6cY9Nw3xkcbSy4lfCRQAg%3d&risl=&pid=ImgRaw&r=0" alt="">
            <img class="w-full" src="https://th.bing.com/th/id/R.18a22bd05d7f65941eb710452bb843e2?rik=pZ8Vc16Vp0dDnw&riu=http%3a%2f%2fdanangsuntravel.com%2fdata%2ftour%2f500%2fmua-hoa-anh-dao-1577072105.jpg&ehk=ZVGRMY4evmS7G%2fUz9J5PyJ6cY9Nw3xkcbSy4lfCRQAg%3d&risl=&pid=ImgRaw&r=0" alt="">

        </div>
    </div>
</div>