<div class="tw-container tw-mx-auto tw-px-3 md:tw-px-24">
    <div class="tw-flex tw-flex-col tw-py-5">
        <div class="tw-flex tw-flex-col-reverse ">
            <div class="tw-py-5">
                <a href=""><img class="tw-w-full tw-rounded-lg" src={{work.img}} alt=""></a>
            </div>
            <div class="tw-flex tw-flex-col gap-1  md:tw-gap-3">
                <a href=""><h3 class="tw-font-bold text-xl md:tw-text-2xl md:tw-font-sans"> {{work.title}} </h3></a>
                <div class="tw-flex tw-flex-row tw-gap-5 tw-py-5">
                    <span class="tw-bg-red-500 tw-rounded-full tw-px-3 md:tw-px-5 tw-text-white">{{work.createdAt}}</span>
                    <span class="tw-text-gray-400">{{work.genre}}</span>
                </div>
                <p>{{work.desc}}</p>
            </div>
        </div>
    </div>
    <div>
        <h1 class="tw-font-semibold tw-text-2xl tw-py-5">
            Chức năng
        </h1>
        <div  *ngFor="let feat of feats">
            <div>
                <h2 class="tw-font-semibold tw-text-xl">{{feat.feat}}</h2>
                <p class="tw-py-5">{{feat.desc}}</p>
                <div class="tw-flex tw-flex-col md:tw-flex-row tw-py-5" >
                    <div *ngFor="let img of feat.img">
                        <img
                        nz-image
                        class="tw-w-64  "
                        nzSrc="{{img.url}}"
                        alt=""
                        />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>