<!-- <div class="container mx-auto px-32 flex justify-between items-center h-150 sm:flex-col-reverse ">
    <div class="w-1/2 leading-10">
            <p class="font-bold text-4xl leading-10">Hi, I'm Anh, <br>  
            Web Developer
            </p>
            <p>Boi cudon tìm gin too</p>
            <button class=" px-6 py-2.5 mb-2 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:shadow-lg focus:shadow-lg focus:outline-none focus:ring-0 active:shadow-lg transition duration-150 ease-in-out flex items-center ripple-surface-light bg-red-400">Download Info</button>
    </div>
    <div class="w-1/5 ">
        <img  class="rounded-full" src="https://www.zhongguofeng.com/uploads/allimg/180525/13-1P525092241-50.png" alt="">
    </div>
</div> -->