@tailwind base;
@tailwind components;
@tailwind utilities;
@import "~ng-zorro-antd/ng-zorro-antd.min.css";

.c-link {
    @apply
    text-white md:text-black hover:text-red-500 transition duration-300 ease-in
}

.c-link-home {
    @apply
    px-6 
    py-2.5 
    mb-2 
    text-white 
    font-medium 
    text-xs 
    leading-tight 
    uppercase 
    rounded 
    shadow-md 
    hover:shadow-lg 
    focus:shadow-lg 
    focus:outline-none 
    focus:ring-0 
    active:shadow-lg 
    transition 
    duration-150 
    ease-in-out 
    flex 
    items-center 
    bg-red-400
}
.project-link{
    @apply
    bg-transparent 
    hover:bg-red-500 
    text-white 
    font-semibold 
    hover:text-white 
    px-4 
    text-sm
    border 
    border-white 
    hover:border-transparent
    rounded
    md:py-2
}

.form__contact-input{
    @apply
    bg-transparent 
    text-black   
    font-semibold 
    px-4 
    text-sm
    border 
    border-red-500 
    rounded
    w-full
    md:py-2
}

.load-link{
    @apply
    bg-transparent 
    bg-red-500 
    font-semibold 
    hover:text-white 
    p-1
    text-sm
    border 
    border-white 
    hover:border-transparent
    rounded
    text-white
    w-24
    md:p-2
    md:w-32
    md:py-2
}
