<div class="tw-container tw-mx-auto tw-px-3 md:tw-px-24">
    <div class="tw-text-left tw-my-3 md:tw-my-5">
        <h3 class="tw-leading-10 tw-text-sm tw-font-bold md:tw-text-xl">List</h3>
    </div>
    <div class="tw-text-left tw-my-3 md:tw-my-5">
        <div class="tw-flex tw-flex-col tw-items-start tw-gap-5">
            <div>
                <h2 class="tw-text-2xl tw-font-bold">UI Interactions of the week</h2>
            </div>
            <div>
                <span class="tw-text-sm tw-font-semibold tw-border-r-black tw-border-r-2 tw-pr-5">12 Feb 2019</span>
                <span class="tw-text-sm tw-font-sans tw-text-gray-400 tw-pl-5">Express, Handlebars</span>
            </div>
            <div>
                <p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
            </div>
        </div>
        <hr class="tw-bg-gray-400 my-5">
    </div>
</div>