<div class="container mx-auto px-3 md:px-24">
    <div class="text-left my-3 md:my-5">
        <h3 class="leading-10 text-sm font-bold md:text-xl">List</h3>
    </div>
    <div class="text-left my-3 md:my-5">
        <div class="flex flex-col items-start gap-5">
            <div>
                <h2 class="text-2xl font-bold">UI Interactions of the week</h2>
            </div>
            <div>
                <span class="text-sm font-semibold border-r-black border-r-2 pr-5">12 Feb 2019</span>
                <span class="text-sm font-sans text-gray-400 pl-5">Express, Handlebars</span>
            </div>
            <div>
                <p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
            </div>
        </div>
        <hr class="bg-gray-400 my-5">
    </div>
</div>